---
import Carousel from "@components/ui/carousel.astro";
import Icon from "@components/ui/icon.astro";
import LoggerCard from "@components/ui/logger_card.astro";
import SectionTitle from "@components/ui/section_title.astro";
import type { BackgroundColor } from "@libs/types";

import AlexandreBHoverReference from '@static/loggers/Alexandre_B_hover.avif';
import AlexandreBReference from '@static/loggers/Alexandre_B.avif';
import AlexandreMHoverReference from '@static/loggers/Alexandre_M_hover.avif';
import AlexandreMReference from '@static/loggers/Alexandre_M.avif';
import BouchraHoverReference from '@static/loggers/Bouchra_hover.avif';
import BouchraReference from '@static/loggers/Bouchra.avif';
import GuillaumeFHoverReference from '@static/loggers/Guillaume_F_hover.avif';
import GuillaumeFReference from '@static/loggers/Guillaume_F.avif';
import GuillaumeTHoverReference from '@static/loggers/Guillaume_T_hover.avif';
import GuillaumeTReference from '@static/loggers/Guillaume_T.avif';
import JoffreyHoverReference from '@static/loggers/Joffrey_R_hover.avif';
import JoffreyReference from '@static/loggers/Joffrey_R.avif';
import LaurentHoverReference from '@static/loggers/Laurent_Z_hover.avif';
import LaurentReference from '@static/loggers/Laurent_Z.avif';
import OlivierHoverReference from '@static/loggers/Olivier_R_hover.avif';
import OlivierReference from '@static/loggers/Olivier_R.avif';
import RayanHoverReference from '@static/loggers/Rayan_hover.avif';
import RayanReference from '@static/loggers/Rayan.avif';
import ThibautHoverReference from '@static/loggers/Thibaut_W_hover.avif';
import ThibautReference from '@static/loggers/Thibaut_W.avif';
import ValentinHoverReference from '@static/loggers/Valentin_hover.avif';
import ValentinReference from '@static/loggers/Valentin.avif';
import VincentHoverReference from '@static/loggers/Vincent_P_hover.avif';
import VincentReference from '@static/loggers/Vincent_P.avif';


interface Props {
    activeCarousel?: boolean;
    bgCardColor: BackgroundColor;
}
const { activeCarousel = true, bgCardColor } = Astro.props as Props;


// Breakpoints for the carousel, got from https://tailwindcss.com/docs/responsive-design
/// This is the only thing that needs to be changed to change the number of items displayed at each breakpoint ///
const visibleElements = [ // Default is 1
  { breakpoint: 1536, items: 4 }, // 2xl
  { breakpoint: 1280, items: 4 }, // xl
  { breakpoint: 1024, items: 3 }, // lg
  { breakpoint: 768, items: 2 }, // md
  { breakpoint: 640, items: 1 } // sm
];

// Convert the visibleElements array into a map of breakpoint widths to the number of items to display at that width
const visibleElementsPx = visibleElements.reduce<{ [breakpoint: number]: number }>((acc, { breakpoint, items }) => {
  acc[breakpoint] = items;
  return acc;
}, {});
// Generate the grid classes based on the visibleElementsPx map
const gridClasses = ['sm', 'md', 'lg', 'xl', '2xl'].map((breakpoint, index) => `${breakpoint}:grid-cols-${Object.values(visibleElementsPx)[index]}`).join(' ');
---

<section class="relative w-full text-center">
    <SectionTitle column={true} logSvg={true}>
        <h1>Notre équipe de</h1>
        <h1 class="inline-flex gap-1">
            <span class="sr-only">LOG</span>
            <Icon name="log" />
            <span>gers</span>
        </h1>
    </SectionTitle>
    {activeCarousel ?
    <Carousel type="logger-card" visibleElementsPx={visibleElementsPx}>
        <LoggerCard name="Alexandre B." position="Consultant" pictureReference={AlexandreBReference} pictureHoverReference={AlexandreBHoverReference} bgColor={bgCardColor}/>
        <LoggerCard name="Alexandre M." position="Consultant" pictureReference={AlexandreMReference} pictureHoverReference={AlexandreMHoverReference} bgColor={bgCardColor}/>
        <LoggerCard name="Bouchra" position="LOG Fan" pictureReference={BouchraReference} pictureHoverReference={BouchraHoverReference} bgColor={bgCardColor}/>
        <LoggerCard name="Guillaume F." position="Consultant" pictureReference={GuillaumeFReference} pictureHoverReference={GuillaumeFHoverReference} bgColor={bgCardColor}/>
        <LoggerCard name="Guillaume T." position="Associé" pictureReference={GuillaumeTReference} pictureHoverReference={GuillaumeTHoverReference} bgColor={bgCardColor}/>
        <LoggerCard name="Joffrey" position="Mangeur & Consultant" pictureReference={JoffreyReference} pictureHoverReference={JoffreyHoverReference} bgColor={bgCardColor}/>
        <LoggerCard name="Laurent" position="Consultant" pictureReference={LaurentReference} pictureHoverReference={LaurentHoverReference} bgColor={bgCardColor}/>
        <LoggerCard name="Olivier" position="Associé" pictureReference={OlivierReference} pictureHoverReference={OlivierHoverReference} bgColor={bgCardColor}/>
        <LoggerCard name="Rayan" position="Community Manager" pictureReference={RayanReference} pictureHoverReference={RayanHoverReference} bgColor={bgCardColor}/>
        <LoggerCard name="Thibaut" position="Consultant" pictureReference={ThibautReference} pictureHoverReference={ThibautHoverReference} bgColor={bgCardColor}/>
        <LoggerCard name="Valentin" position="Consultant" pictureReference={ValentinReference} pictureHoverReference={ValentinHoverReference} bgColor={bgCardColor}/>
        <LoggerCard name="Vincent" position="Consultant" pictureReference={VincentReference} pictureHoverReference={VincentHoverReference} bgColor={bgCardColor}/>
    </Carousel>
    :
    <div class="overflow-y-visible flex flex-row gap-6 justify-center items-center mx-auto py-8 shrink-0">
        <div class:list={['overflow-y-visible snap-center snap-mandatory scroll-smooth grid grid-cols-1 gap-12 max-w-7xl', gridClasses]}>
            <LoggerCard name="Alexandre B." position="Consultant" pictureReference={AlexandreBReference} pictureHoverReference={AlexandreBHoverReference} bgColor={bgCardColor}/>
            <LoggerCard name="Alexandre M." position="Consultant" pictureReference={AlexandreMReference} pictureHoverReference={AlexandreMHoverReference} bgColor={bgCardColor}/>
            <LoggerCard name="Bouchra" position="LOG Fan" pictureReference={BouchraReference} pictureHoverReference={BouchraHoverReference} bgColor={bgCardColor}/>
            <LoggerCard name="Guillaume F." position="Consultant" pictureReference={GuillaumeFReference} pictureHoverReference={GuillaumeFHoverReference} bgColor={bgCardColor}/>
            <LoggerCard name="Guillaume T." position="Associé" pictureReference={GuillaumeTReference} pictureHoverReference={GuillaumeTHoverReference} bgColor={bgCardColor}/>
            <LoggerCard name="Joffrey" position="Mangeur & Consultant" pictureReference={JoffreyReference} pictureHoverReference={JoffreyHoverReference} bgColor={bgCardColor}/>
            <LoggerCard name="Laurent" position="Consultant" pictureReference={LaurentReference} pictureHoverReference={LaurentHoverReference} bgColor={bgCardColor}/>
            <LoggerCard name="Olivier" position="Associé" pictureReference={OlivierReference} pictureHoverReference={OlivierHoverReference} bgColor={bgCardColor}/>
            <LoggerCard name="Rayan" position="Community Manager" pictureReference={RayanReference} pictureHoverReference={RayanHoverReference} bgColor={bgCardColor}/>
            <LoggerCard name="Thibaut" position="Consultant" pictureReference={ThibautReference} pictureHoverReference={ThibautHoverReference} bgColor={bgCardColor}/>
            <LoggerCard name="Valentin" position="Consultant" pictureReference={ValentinReference} pictureHoverReference={ValentinHoverReference} bgColor={bgCardColor}/>
            <LoggerCard name="Vincent" position="Consultant" pictureReference={VincentReference} pictureHoverReference={VincentHoverReference} bgColor={bgCardColor}/>
        </div>
    </div>
    }
</section>