---
import Carousel from "@components/ui/carousel.astro";
import ClientCard from "@components/ui/client_card.astro";
import Icon from "@components/ui/icon.astro";
import SectionTitle from "@components/ui/section_title.astro";

import { Image } from 'astro:assets';
import DinumLogoReference from '@assets/clients/dinum.webp';
import EuroAssistanceLogoReference from '@assets/clients/euro-assistance.webp';
import CarrefourLogoReference from '@assets/clients/Logo_Carrefour.webp';
import SaintGobainLogoReference from '@assets/clients/Logo_Saint-Gobain.webp';
import ChristianDiorCoutureLogoReference from '@assets/clients/logo-christian-dior-couture.webp';
import HermesLogoReference from '@assets/clients/Hermes.webp';
import TransdevLogoReference from '@assets/clients/transdev.webp';
import BDFLogoReference from '@assets/clients/BDF.webp';
import RATPLogoReference from '@assets/clients/RATP.webp';


// Breakpoints for the carousel, got from https://tailwindcss.com/docs/responsive-design
/// This is the only thing that needs to be changed to change the number of items displayed at each breakpoint ///
const visibleElements = [ // Default is 1
  { breakpoint: 1536, items: 5 }, // 2xl
  { breakpoint: 1280, items: 5 }, // xl
  { breakpoint: 1024, items: 4 }, // lg
  { breakpoint: 768, items: 3 }, // md
  { breakpoint: 640, items: 1 } // sm
];

// Convert the visibleElements array into a map of breakpoint widths to the number of items to display at that width
const visibleElementsPx = visibleElements.reduce<{ [breakpoint: number]: number }>((acc, { breakpoint, items }) => {
  acc[breakpoint] = items;
  return acc;
}, {});
---

<section class="relative w-full pb-10 bg-gray-log text-center">
    <div class="flex flex-col lg:flex-row gap-10 items-center justify-center py-8">
        <Icon className="lg:hidden h-20" name="rocket" />
        <SectionTitle column={true} logSvg={true}>
            <h1 class="inline-flex gap-4">
                In
                <span class="sr-only">LOG</span>
                <Icon name="log" />
            </h1>
            <h1>they trust!</h1>
        </SectionTitle>
        <Icon className="hidden lg:block h-20" name="rocket" />
    </div>
    <div class="max-w-7xl mx-auto">
        <Carousel type="client-card" visibleElementsPx={visibleElementsPx}>
            <ClientCard clientLogoReference={HermesLogoReference} clientName="Hermès" />
            <ClientCard clientLogoReference={TransdevLogoReference} clientName="Transdev" />
            <ClientCard clientLogoReference={BDFLogoReference} clientName="Banque de France" />
            <ClientCard clientLogoReference={CarrefourLogoReference} clientName="Carrefour" />
            <ClientCard clientLogoReference={RATPLogoReference} clientName="RATP" />
            <ClientCard clientLogoReference={SaintGobainLogoReference} clientName="Saint-Gobain" />
            <ClientCard clientLogoReference={ChristianDiorCoutureLogoReference} clientName="Christian Dior Couture" />
            <ClientCard clientLogoReference={EuroAssistanceLogoReference} clientName="Euro Assistance" />
            <ClientCard clientLogoReference={DinumLogoReference} clientName="DINUM" />
        </Carousel>
    </div>
</section>