---
import Carousel from "@components/ui/carousel.astro";
import Icon from "@components/ui/icon.astro";
import SectionTitle from "@components/ui/section_title.astro";

import { Image } from 'astro:assets';
import DinumLogoReference from '@assets/clients/dinum.webp';
import EuroAssistanceLogoReference from '@assets/clients/euro-assistance.webp';
import CarrefourLogoReference from '@assets/clients/Logo_Carrefour.webp';
import SaintGobainLogoReference from '@assets/clients/Logo_Saint-Gobain.webp';
import ChristianDiorCoutureLogoReference from '@assets/clients/logo-christian-dior-couture.webp';
import HermesLogoReference from '@assets/clients/Hermes.webp';
import TransdevLogoReference from '@assets/clients/transdev.webp';
import BDFLogoReference from '@assets/clients/BDF.webp';
import RATPLogoReference from '@assets/clients/RATP.webp';


// Breakpoints for the carousel, got from https://tailwindcss.com/docs/responsive-design
/// This is the only thing that needs to be changed to change the number of items displayed at each breakpoint ///
const visibleElements = [ // Default is 1
  { breakpoint: 1536, items: 5 }, // 2xl
  { breakpoint: 1280, items: 5 }, // xl
  { breakpoint: 1024, items: 4 }, // lg
  { breakpoint: 768, items: 3 }, // md
  { breakpoint: 640, items: 1 } // sm
];

// Convert the visibleElements array into a map of breakpoint widths to the number of items to display at that width
const visibleElementsPx = visibleElements.reduce<{ [breakpoint: number]: number }>((acc, { breakpoint, items }) => {
  acc[breakpoint] = items;
  return acc;
}, {});
---

<section class="relative w-full pb-10 bg-gray-log text-center">
    <div class="flex flex-col lg:flex-row gap-10 items-center justify-center py-8">
        <Icon className="lg:hidden h-20" name="rocket" />
        <SectionTitle column={true} logSvg={true}>
            <h1 class="inline-flex gap-4">
                In
                <span class="sr-only">LOG</span>
                <Icon name="log" />
            </h1>
            <h1>they trust!</h1>
        </SectionTitle>
        <Icon className="hidden lg:block h-20" name="rocket" />
    </div>
    <Carousel type="img" visibleElementsPx={visibleElementsPx}>
        <Image class="my-auto md:grayscale hover:grayscale-0 duration-150 ease-in-out" src={HermesLogoReference} alt="Hermès">
        <Image class="my-auto md:grayscale hover:grayscale-0 duration-150 ease-in-out" src={TransdevLogoReference} alt="Transderv">
        <Image class="my-auto md:grayscale hover:grayscale-0 duration-150 ease-in-out" src={BDFLogoReference} alt="Banque de France">
        <Image class="my-auto md:grayscale hover:grayscale-0 duration-150 ease-in-out" src={CarrefourLogoReference} alt="Carrefour">
        <Image class="my-auto md:grayscale hover:grayscale-0 duration-150 ease-in-out" src={RATPLogoReference} alt="RATP">
        <Image class="my-auto md:grayscale hover:grayscale-0 duration-150 ease-in-out" src={SaintGobainLogoReference} alt="Saint-Gobain">
        <Image class="my-auto md:grayscale hover:grayscale-0 duration-150 ease-in-out" src={ChristianDiorCoutureLogoReference} alt="Christian Dior Couture">
        <Image class="my-auto md:grayscale hover:grayscale-0 duration-150 ease-in-out" src={EuroAssistanceLogoReference} alt="Euro Assistance">
        <Image class="my-auto md:grayscale hover:grayscale-0 duration-150 ease-in-out" src={DinumLogoReference} alt="DINUM">
    </Carousel>
</section>