---
import Icon from '@components/ui/icon.astro';
import { IconsDict } from '@libs/icons';

interface Props {
    frontmatter: any;
    href: string;
};
const { frontmatter, href }: Props = Astro.props;

// Get every icon name that start by job- from IconsDict
const jobIcons = Object.keys(IconsDict).filter((iconName) => iconName.startsWith('job-'));
// If job-{frontmatter.icon} is not in the list, use job-devops as default
const iconName = jobIcons.includes(`job-${frontmatter.icon}`) ? `job-${frontmatter.icon}` : 'job-devops';
---

<div class="overflow-hidden flex flex-col border-blue-log border-2 rounded-5xl max-w-md">
    <a class="flex flex-col h-full" href={href}>
        <div class="flex flex-col text-white px-4 py-1 gap-2 bg-blue-log">
            <div class="flex flex-row items-center gap-4">
                <div class="flex shrink-0 items-center justify-center w-16 h-16 rounded-[50%] bg-black">
                    <Icon className="h-8" name={iconName} />
                </div>
                <h1 class="font-bold text-2xl md:text-3xl">{frontmatter.title}</h1>
            </div>
            <p class="text-sm italic text-center">Publié le <span class="font-bold">{new Date(frontmatter.publish_date).toLocaleDateString('fr-FR')}</span></p>
        </div>
        <p class="text-lg md:text-xl px-6 my-10">{frontmatter.summary}</p>
        <div class="grow invisible"></div>
        <div class="flex flex-col items-center justify-end mb-10">
            <button class=" bg-blue-log text-white font-bold text-xl md:text-2xl px-4 py-1.5">En savoir plus</button>
        </div>
    </a>
</div>