---
import Icon from '@components/ui/icon.astro';

import { Image } from 'astro:assets';
import PosteReference from '@assets/AdobeStock_482164643.webp';

import type { ImageMetadata } from 'astro';

interface Props {
    salary: string;
    starting_date: Date;
    experience: string;
    job_name: string;
    job_status: string;
    travel_area: string;
    job_sector: string;
    telework: string;
    hr_name: string;
    hr_email: string;
    hr_phone: string;
    hr_picture: ImageMetadata;
}
const {
    salary,
    starting_date,
    experience,
    job_name,
    job_status,
    travel_area,
    job_sector,
    telework,
    hr_name,
    hr_email,
    hr_phone,
    hr_picture,
}: Props = Astro.props;
---

<div class="flex flex-col gap-10">
    <div class="overflow-hidden max-w-112 xl:w-120 flex flex-col border-4 border-blue-log rounded-4xl">
        <Image class="w-full" src={PosteReference} alt="" />
        <h1 class="text-xl md:text-2xl font-bold p-4">LE POSTE</h1>
        <ul class="flex flex-col gap-4 text-lg md:text-xl p-4">
            <li class="inline-flex gap-2">
                <Icon className="w-8 h-8 shrink-0 fill-blue-log" name="euro" />
                <p>Salaire&nbsp;: {salary}</p>
            </li>
            <li class="inline-flex gap-2">
                <Icon className="w-8 h-8 shrink-0 fill-blue-log" name="calendar" />
                <p>Prise de poste&nbsp;: {starting_date}</p>
            </li>
            <li class="inline-flex gap-2">
                <Icon className="w-8 h-8 shrink-0 fill-blue-log" name="certification" />
                <p>Expérience&nbsp;: {experience}</p>
            </li>
            <li class="inline-flex gap-2">
                <Icon className="w-8 h-8 shrink-0 fill-blue-log" name="bag" />
                <p>Métier&nbsp;: {job_name}</p>
            </li>
            <li class="inline-flex gap-2">
                <Icon className="w-8 h-8 shrink-0 fill-blue-log" name="people" />
                <p>Statut du poste&nbsp;: {job_status}</p>
            </li>
            <li class="inline-flex gap-2">
                <Icon className="w-8 h-8 shrink-0 fill-blue-log" name="position" />
                <p>Zone de déplacement&nbsp;: {travel_area}</p>
            </li>
            <li class="inline-flex gap-2">
                <Icon className="w-8 h-8 shrink-0 fill-blue-log" name="glass" />
                <p>Secteur d'activité du poste&nbsp;: {job_sector}</p>
            </li>
            <li class="inline-flex gap-2">
                <Icon className="w-8 h-8 shrink-0 fill-blue-log" name="screen" />
                <p>Télétravail&nbsp;: {telework}</p>
            </li>
        </ul>
    </div>
    <a class="bg-blue-log rounded-xl text-center font-extrabold text-white text-2xl md:text-3xl py-4" href={`mailto:${hr_email}`}>Postulez</a>
    <div class="bg-blue-log rounded-4xl text-center text-white font-extrabold mt-22 pt-24 pb-8 px-8">
        <div class="overflow-hidden absolute left-0 xl:left-auto right-0 xl:right-auto mx-auto xl:mx-0 xl:translate-x-34 -translate-y-42 bg-white rounded-3xl w-36 h-36 p-1">
            <div class="overflow-hidden bg-gray-log rounded-3xl w-full h-full">
                <Image class="object-cover" src={hr_picture} alt="" />
            </div>
        </div>
        <h2 class="text-xl md:text-2xl mb-8">Responsable de l'offre</h2>
        <p class="text-2xl md:text-3xl mb-8">{hr_name}</p>
        <a class="font-normal md:text-lg hover:underline hover:underline-offset-4" href={`tel:${hr_phone}`}>{hr_phone}</a><br />
        <a class="font-normal md:text-lg hover:underline hover:underline-offset-4" href={`mailto:${hr_email}`}>{hr_email}</a>
    </div>
</div>