---
import JobOfferLayout from '@layouts/JobOfferLayout.astro';

import Description from '@components/job/description.astro';
import Position from '@components/job/position.astro';

import { getCollection } from 'astro:content';
// Generate a new path for every collection entry
export async function getStaticPaths() {
  const jobEntries = await getCollection('job');
  return jobEntries.map(entry => ({
    params: {
      slug: entry.slug
    },
    props: {
      entry
    },
  }));
}
// Get entry frontmatter
const { entry } = Astro.props;
---

<JobOfferLayout title={entry.data.title} email={entry.data.hr_email}>
  <Description>
    <p class="text-2xl mb-16 text-justify" slot="description">
        <Fragment set:html={entry.data.description.join("<br /><br />")} />
    </p>
    <p class="text-2xl text-justify" slot="profile">
        <Fragment set:html={entry.data.profile.join("<br /><br />")} />
    </p>
  </Description>
  <Position
    salary={entry.data.salary}
    starting_date={entry.data.starting_date}
    experience={entry.data.experience}
    job_name={entry.data.job_name}
    job_status={entry.data.job_status}
    travel_area={entry.data.travel_area}
    job_sector={entry.data.job_sector}
    telework={entry.data.telework}
    hr_name={entry.data.hr_name}
    hr_email={entry.data.hr_email}
    hr_phone={entry.data.hr_phone}
  />
</JobOfferLayout>