---
import PictoOrdinateurReference from '@static/picto-ordinateur.png';
import PhotoSommaireReference from '@static/photo-sommaire.jpg';
import HommeCourseOrdinateurReference from '@static/homme-course-ordinateur.png';
import HommeClavierReference from '@static/homme-clavier.png';

import BaseLayout from "@/layouts/BaseLayout.astro";

import Number from '@components/ui/number.astro';
import SectionArticles from '@/components/homepage/section_articles.astro';
import SectionTeam from '@/components/homepage/section_team.astro';

import { getCollection } from 'astro:content';
const jobEntries = await getCollection('job');
---

<BaseLayout title="Accueil">
    <!-- Section 1 - #WEARE LOG -->
    <section class="relative w-full mt-20 mb-40">
        <div class="flex flex-col lg:flex-row items-center">
            <img class="w-full lg:w-[50vw]" src={PhotoSommaireReference} alt="Photo sommaire" />
            <div class="flex flex-col pl-4 lg:px-12 lg:w-[50vw] lg:h-[25vw] py-12 lg:py-0 bg-black text-white justify-center">
                <div class="flex flex-row">
                    <h1 class="font-bold text-5xl mr-2">#WEARE</h1>
                    <svg class="w-auto h-16 mr-6 fill-red-log" viewBox="0 0 305.98 195.2"><path d="M32.24 106.4V17.49H10.19v109.25h71.72V106.4H32.24zm150.23-54.95c-2.58-6.65-6.3-12.54-11.05-17.51-4.77-4.98-10.61-8.94-17.38-11.78-6.75-2.82-14.37-4.26-22.65-4.26s-15.83 1.41-22.63 4.2c-6.82 2.79-12.75 6.71-17.62 11.65-4.86 4.93-8.68 10.8-11.37 17.45-2.69 6.64-4.05 13.93-4.05 21.67s1.31 14.91 3.88 21.57c2.59 6.7 6.33 12.6 11.12 17.53 4.8 4.94 10.64 8.88 17.35 11.7 6.72 2.83 14.29 4.26 22.51 4.26s15.83-1.43 22.65-4.26c6.81-2.82 12.75-6.75 17.65-11.69 4.89-4.93 8.74-10.82 11.43-17.51 2.68-6.67 4.04-13.94 4.04-21.61s-1.31-14.81-3.88-21.42zm-16.76 21.42c0 4.91-.82 9.63-2.42 14.02-1.6 4.37-3.92 8.26-6.89 11.57-2.95 3.28-6.62 5.92-10.93 7.84-8.5 3.8-20.85 3.91-29.43-.04-4.25-1.96-7.88-4.61-10.8-7.9-2.93-3.3-5.2-7.18-6.74-11.54-1.55-4.41-2.34-9.11-2.34-13.96s.85-9.5 2.51-13.89c1.66-4.37 4.04-8.24 7.07-11.52 3.02-3.27 6.75-5.92 11.08-7.89 4.3-1.95 9.2-2.94 14.56-2.94s10.28 1 14.47 2.97c4.22 1.99 7.85 4.67 10.77 7.96 2.94 3.31 5.2 7.18 6.74 11.5 1.55 4.38 2.34 9.02 2.34 13.8zm108.94-52.64v11.19l-2.02-1.92c-2.81-2.48-5.95-4.61-9.35-6.32-3.39-1.71-7-3.03-10.73-3.92a49.72 49.72 0 0 0-11.52-1.34c-7.71 0-14.85 1.44-21.22 4.29-6.35 2.84-11.87 6.77-16.39 11.69-4.51 4.9-8.05 10.74-10.52 17.34-2.46 6.59-3.71 13.73-3.71 21.24s1.27 15.11 3.76 21.83c2.51 6.74 6.08 12.68 10.62 17.65 4.56 4.99 10.08 8.94 16.41 11.75 9.53 4.23 21.21 5.59 32.64 2.84 3.84-.93 7.54-2.3 11-4.08 3.49-1.8 6.69-4.04 9.53-6.66.52-.48 1.03-.98 1.52-1.49 0 6.93-.56 13.29-1.65 18.9-1.06 5.4-2.86 10.05-5.37 13.81-2.46 3.69-5.67 6.47-9.8 8.49-4.14 2.03-9.52 3.06-15.99 3.06-4.15 0-8.17-.61-11.93-1.81-3.73-1.19-7.07-2.94-9.95-5.18-2.84-2.21-5.17-4.95-6.94-8.16-1.75-3.17-2.79-6.83-3.1-10.86l-.21-2.85h-21.37l.26 3.32c.57 7.24 2.38 13.74 5.38 19.32s6.97 10.31 11.77 14.08c4.78 3.74 10.34 6.59 16.54 8.47 6.12 1.86 12.7 2.8 19.55 2.8 7.63 0 14.82-1.21 21.37-3.61 6.64-2.43 12.47-6.22 17.31-11.27 4.81-5.02 8.61-11.47 11.29-19.16 2.65-7.6 3.99-16.71 3.99-27.06V20.23h-21.14zm.6 51.44c0 5.02-.73 9.89-2.17 14.46-1.42 4.51-3.54 8.53-6.3 11.97-2.72 3.38-6.12 6.12-10.09 8.12-7.74 3.9-19.13 4.04-27.37 0-4.09-2.02-7.62-4.74-10.48-8.09-2.9-3.39-5.16-7.33-6.73-11.71-1.58-4.4-2.38-9.02-2.38-13.74 0-5.13.77-9.96 2.29-14.38 1.5-4.36 3.69-8.19 6.49-11.39 2.78-3.18 6.21-5.71 10.18-7.53 3.96-1.82 8.52-2.74 13.55-2.74s9.53.92 13.56 2.75c4.05 1.82 7.54 4.35 10.39 7.5 2.88 3.18 5.13 6.92 6.69 11.12 1.57 4.23 2.37 8.82 2.37 13.66z"/></svg>
                    <img class="hidden lg:block w-auto h-[3rem]" src={PictoOrdinateurReference} alt="Pictogramme ordinateur" />
                </div>
                <p class="font-bold text-2xl mt-8">Les Loggers, une équipe de consultants au top de l'expertise en technologies Cloud et culture DevOps.</p>
            </div>
        </div>
    </section>
    <!-- -->
    <!-- Section 2 - Chiffres -->
    <section class="relative max-w-7xl mx-auto my-20 text-center">
        <div class="flex flex-col lg:flex-row justify-center my-8">
            <svg class="w-auto h-12" viewBox="0 0 305.98 195.2"><path d="M32.24 106.4V17.49H10.19v109.25h71.72V106.4H32.24zm150.23-54.95c-2.58-6.65-6.3-12.54-11.05-17.51-4.77-4.98-10.61-8.94-17.38-11.78-6.75-2.82-14.37-4.26-22.65-4.26s-15.83 1.41-22.63 4.2c-6.82 2.79-12.75 6.71-17.62 11.65-4.86 4.93-8.68 10.8-11.37 17.45-2.69 6.64-4.05 13.93-4.05 21.67s1.31 14.91 3.88 21.57c2.59 6.7 6.33 12.6 11.12 17.53 4.8 4.94 10.64 8.88 17.35 11.7 6.72 2.83 14.29 4.26 22.51 4.26s15.83-1.43 22.65-4.26c6.81-2.82 12.75-6.75 17.65-11.69 4.89-4.93 8.74-10.82 11.43-17.51 2.68-6.67 4.04-13.94 4.04-21.61s-1.31-14.81-3.88-21.42zm-16.76 21.42c0 4.91-.82 9.63-2.42 14.02-1.6 4.37-3.92 8.26-6.89 11.57-2.95 3.28-6.62 5.92-10.93 7.84-8.5 3.8-20.85 3.91-29.43-.04-4.25-1.96-7.88-4.61-10.8-7.9-2.93-3.3-5.2-7.18-6.74-11.54-1.55-4.41-2.34-9.11-2.34-13.96s.85-9.5 2.51-13.89c1.66-4.37 4.04-8.24 7.07-11.52 3.02-3.27 6.75-5.92 11.08-7.89 4.3-1.95 9.2-2.94 14.56-2.94s10.28 1 14.47 2.97c4.22 1.99 7.85 4.67 10.77 7.96 2.94 3.31 5.2 7.18 6.74 11.5 1.55 4.38 2.34 9.02 2.34 13.8zm108.94-52.64v11.19l-2.02-1.92c-2.81-2.48-5.95-4.61-9.35-6.32-3.39-1.71-7-3.03-10.73-3.92a49.72 49.72 0 0 0-11.52-1.34c-7.71 0-14.85 1.44-21.22 4.29-6.35 2.84-11.87 6.77-16.39 11.69-4.51 4.9-8.05 10.74-10.52 17.34-2.46 6.59-3.71 13.73-3.71 21.24s1.27 15.11 3.76 21.83c2.51 6.74 6.08 12.68 10.62 17.65 4.56 4.99 10.08 8.94 16.41 11.75 9.53 4.23 21.21 5.59 32.64 2.84 3.84-.93 7.54-2.3 11-4.08 3.49-1.8 6.69-4.04 9.53-6.66.52-.48 1.03-.98 1.52-1.49 0 6.93-.56 13.29-1.65 18.9-1.06 5.4-2.86 10.05-5.37 13.81-2.46 3.69-5.67 6.47-9.8 8.49-4.14 2.03-9.52 3.06-15.99 3.06-4.15 0-8.17-.61-11.93-1.81-3.73-1.19-7.07-2.94-9.95-5.18-2.84-2.21-5.17-4.95-6.94-8.16-1.75-3.17-2.79-6.83-3.1-10.86l-.21-2.85h-21.37l.26 3.32c.57 7.24 2.38 13.74 5.38 19.32s6.97 10.31 11.77 14.08c4.78 3.74 10.34 6.59 16.54 8.47 6.12 1.86 12.7 2.8 19.55 2.8 7.63 0 14.82-1.21 21.37-3.61 6.64-2.43 12.47-6.22 17.31-11.27 4.81-5.02 8.61-11.47 11.29-19.16 2.65-7.6 3.99-16.71 3.99-27.06V20.23h-21.14zm.6 51.44c0 5.02-.73 9.89-2.17 14.46-1.42 4.51-3.54 8.53-6.3 11.97-2.72 3.38-6.12 6.12-10.09 8.12-7.74 3.9-19.13 4.04-27.37 0-4.09-2.02-7.62-4.74-10.48-8.09-2.9-3.39-5.16-7.33-6.73-11.71-1.58-4.4-2.38-9.02-2.38-13.74 0-5.13.77-9.96 2.29-14.38 1.5-4.36 3.69-8.19 6.49-11.39 2.78-3.18 6.21-5.71 10.18-7.53 3.96-1.82 8.52-2.74 13.55-2.74s9.53.92 13.56 2.75c4.05 1.82 7.54 4.35 10.39 7.5 2.88 3.18 5.13 6.92 6.69 11.12 1.57 4.23 2.37 8.82 2.37 13.66z"/></svg>
            <h1 class="font-bold text-3xl ml-2">EN QUELQUES CHIFFRES</h1>
        </div>

        <div class="flex flex-col lg:flex-row justify-center gap-6">
            <Number number="20" description="Est consectetur dolores ea dolor." />
            <Number number="+156" description="Ex consequatur quasi non asperiores veniam." />
            <Number number="290" description="Neque voluptas eos optio distinctio." />
            <Number number="3" description="Sed provident distinctio ex harum assumenda." />
        </div>
    </section>
    <!-- -->
    <!-- Section 3 - Savoir-faire -->
    <section class="relative w-full my-20 z-0">
        <div class="absolute top-64 lg:bottom-0 lg:left-[14vw] z-10">
            <img class="h-full" src={HommeCourseOrdinateurReference} alt="Homme en train de courir avec un ordinateur" />
        </div>
        <div class="flex flex-col lg:flex-row">
            <div class="flex lg:w-[33vw] justify-center lg:justify-end bg-black text-white">
                <div class="flex flex-col gap-5 mt-10 mb-56 lg:mt-24 lg:mr-[4vw] text-5xl font-extrabold">
                    <h1>SAVOIR</h1>
                    <h1>FAIRE</h1>
                    <svg class="w-auto h-20 fill-blue-log" viewBox="0 0 440 195.2"><path d="M32.24 106.4V17.49H10.19v109.25h71.72V106.4H32.24zm150.23-54.95c-2.58-6.65-6.3-12.54-11.05-17.51-4.77-4.98-10.61-8.94-17.38-11.78-6.75-2.82-14.37-4.26-22.65-4.26s-15.83 1.41-22.63 4.2c-6.82 2.79-12.75 6.71-17.62 11.65-4.86 4.93-8.68 10.8-11.37 17.45-2.69 6.64-4.05 13.93-4.05 21.67s1.31 14.91 3.88 21.57c2.59 6.7 6.33 12.6 11.12 17.53 4.8 4.94 10.64 8.88 17.35 11.7 6.72 2.83 14.29 4.26 22.51 4.26s15.83-1.43 22.65-4.26c6.81-2.82 12.75-6.75 17.65-11.69 4.89-4.93 8.74-10.82 11.43-17.51 2.68-6.67 4.04-13.94 4.04-21.61s-1.31-14.81-3.88-21.42zm-16.76 21.42c0 4.91-.82 9.63-2.42 14.02-1.6 4.37-3.92 8.26-6.89 11.57-2.95 3.28-6.62 5.92-10.93 7.84-8.5 3.8-20.85 3.91-29.43-.04-4.25-1.96-7.88-4.61-10.8-7.9-2.93-3.3-5.2-7.18-6.74-11.54-1.55-4.41-2.34-9.11-2.34-13.96s.85-9.5 2.51-13.89c1.66-4.37 4.04-8.24 7.07-11.52 3.02-3.27 6.75-5.92 11.08-7.89 4.3-1.95 9.2-2.94 14.56-2.94s10.28 1 14.47 2.97c4.22 1.99 7.85 4.67 10.77 7.96 2.94 3.31 5.2 7.18 6.74 11.5 1.55 4.38 2.34 9.02 2.34 13.8zm108.94-52.64v11.19l-2.02-1.92c-2.81-2.48-5.95-4.61-9.35-6.32-3.39-1.71-7-3.03-10.73-3.92a49.72 49.72 0 0 0-11.52-1.34c-7.71 0-14.85 1.44-21.22 4.29-6.35 2.84-11.87 6.77-16.39 11.69-4.51 4.9-8.05 10.74-10.52 17.34-2.46 6.59-3.71 13.73-3.71 21.24s1.27 15.11 3.76 21.83c2.51 6.74 6.08 12.68 10.62 17.65 4.56 4.99 10.08 8.94 16.41 11.75 9.53 4.23 21.21 5.59 32.64 2.84 3.84-.93 7.54-2.3 11-4.08 3.49-1.8 6.69-4.04 9.53-6.66.52-.48 1.03-.98 1.52-1.49 0 6.93-.56 13.29-1.65 18.9-1.06 5.4-2.86 10.05-5.37 13.81-2.46 3.69-5.67 6.47-9.8 8.49-4.14 2.03-9.52 3.06-15.99 3.06-4.15 0-8.17-.61-11.93-1.81-3.73-1.19-7.07-2.94-9.95-5.18-2.84-2.21-5.17-4.95-6.94-8.16-1.75-3.17-2.79-6.83-3.1-10.86l-.21-2.85h-21.37l.26 3.32c.57 7.24 2.38 13.74 5.38 19.32s6.97 10.31 11.77 14.08c4.78 3.74 10.34 6.59 16.54 8.47 6.12 1.86 12.7 2.8 19.55 2.8 7.63 0 14.82-1.21 21.37-3.61 6.64-2.43 12.47-6.22 17.31-11.27 4.81-5.02 8.61-11.47 11.29-19.16 2.65-7.6 3.99-16.71 3.99-27.06V20.23h-21.14zm.6 51.44c0 5.02-.73 9.89-2.17 14.46-1.42 4.51-3.54 8.53-6.3 11.97-2.72 3.38-6.12 6.12-10.09 8.12-7.74 3.9-19.13 4.04-27.37 0-4.09-2.02-7.62-4.74-10.48-8.09-2.9-3.39-5.16-7.33-6.73-11.71-1.58-4.4-2.38-9.02-2.38-13.74 0-5.13.77-9.96 2.29-14.38 1.5-4.36 3.69-8.19 6.49-11.39 2.78-3.18 6.21-5.71 10.18-7.53 3.96-1.82 8.52-2.74 13.55-2.74s9.53.92 13.56 2.75c4.05 1.82 7.54 4.35 10.39 7.5 2.88 3.18 5.13 6.92 6.69 11.12 1.57 4.23 2.37 8.82 2.37 13.66z"/></svg>
                </div>
            </div>
            <div class="flex w-full bg-gray-log text-black">
                <div class="flex flex-col gap-8 px-4 pt-64 pb-16 lg:pl-[15vw] lg:pr-[17vw] lg:py-24 z-20">
                    <div class="flex flex-col gap-4 items-start">
                        <h1 class="font-bold text-3xl">Les expertises</h1>
                        <p class="text-normal text-xl lg:text-2xl">Lorem ipsum dolor sit amet. Aut inventore fuga aut eius eveniet sed voluptates voluptatem id iste reprehenderit qui minima assumenda.</p>
                        <a class="bg-red-log text-white text-xl lg:text-2xl font-bold rounded-[12px] px-4 py-2" href="#">Découvrir nos expertises</a>
                    </div>
                    <div class="flex flex-col gap-4 items-start">
                        <h1 class="font-bold text-3xl">Les métiers</h1>
                        <p class="text-normal text-xl lg:text-2xl">Lorem ipsum dolor sit amet. Aut inventore fuga aut eius eveniet sed voluptates voluptatem id iste reprehenderit qui minima assumenda.</p>
                        <a class="bg-blue-log text-white text-xl lg:text-2xl font-bold rounded-[12px] px-4 py-2" href="#">Découvrir nos métiers</a>
                    </div>
                    <div class="flex flex-col gap-4 items-start">
                        <h1 class="font-bold text-3xl">L'engagement</h1>
                        <p class="text-normal text-xl lg:text-2xl">Lorem ipsum dolor sit amet. Aut inventore fuga aut eius eveniet sed voluptates voluptatem id iste reprehenderit qui minima assumenda.</p>
                        <a class="bg-green-log text-white text-xl lg:text-2xl font-bold rounded-[12px] px-4 py-2" href="#">Découvrir notre engagement</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- -->
    <!-- Section 4 - Liste clients -->
    <section class="relative w-full my-20 pb-10 bg-gray-log text-center">
        <div class="flex flex-col lg:flex-row gap-2 items-center justify-center py-8">
            <h1 class="hidden lg:block font-bold text-3xl my-8">IN LOG THEY TRUST!</h1>
            <svg class="h-32" viewBox="0 0 303.75 289.48"><path d="m121.69,99.94c-4.63,0-8.96,1.8-12.22,5.06-3.26,3.26-5.06,7.6-5.06,12.23s1.8,8.96,5.06,12.22c3.26,3.26,7.6,5.05,12.22,5.05s8.97-1.8,12.22-5.05c3.26-3.26,5.06-7.6,5.06-12.22s-1.8-8.97-5.06-12.23c-3.26-3.26-7.6-5.06-12.22-5.06Zm8.93,26.21c-2.38,2.38-5.55,3.69-8.93,3.69s-6.55-1.31-8.93-3.69c-4.92-4.93-4.92-12.94,0-17.87,2.39-2.38,5.56-3.69,8.93-3.69s6.55,1.31,8.93,3.69c4.92,4.93,4.92,12.94,0,17.87Z" fill="#e94266"/><path d="M251.87 174.73c-1.1-14.18-8.48-26.87-20.26-34.84-10.99-7.43-24.44-9.92-37.79-6.4l-.41.11-.24-.34c-13.7-19.56-31.93-36.02-52.73-47.62-12.51-6.98-26.07-11.26-40.3-12.72l-22.81-2.33c-.55 0-1.14.25-1.58.69-.5.49-.74 1.18-.67 1.89l2.31 22.5c1.47 14.24 5.75 27.8 12.72 40.3 11.6 20.79 28.05 39.02 47.6 52.71l.34.24-.11.41a46.3 46.3 0 0 0 6.41 37.81c7.97 11.78 20.67 19.16 34.84 20.26l16.05 1.23a2.27 2.27 0 0 0 1.91-1.07c.46-.73.49-1.64.07-2.4l-20.4-36.27 12.99-12.99c.44-.44.68-1.02.68-1.65 0-.62-.24-1.21-.68-1.65-.89-.88-2.42-.87-3.29 0l-12.71 13.08-29.96-18.53c-20.61-13.63-37.78-32.1-49.69-53.45-6.66-11.94-10.75-24.89-12.15-38.5l-2.45-19.7 20.08 2.07c13.6 1.4 26.56 5.48 38.51 12.15 21.26 11.86 39.69 28.96 53.28 49.44l18.55 29.99-13.23 13.23c-.44.44-.68 1.02-.68 1.65s.24 1.21.68 1.64c.87.88 2.42.88 3.29 0l13.29-13.28.4.23 35.88 20.18c.74.41 1.7.38 2.39-.07.73-.46 1.14-1.28 1.07-2.15l-1.22-15.83zm-109.89 17.79l.18-.85 1.19.76 2.56 1.62 26.38 16.23 19.41 33.41-12.13-.94c-12.75-.99-24.17-7.63-31.33-18.22-6.42-9.48-8.64-20.85-6.25-32.01zm72.7-24.71l-16.15-26.39a122.68 122.68 0 0 0-1.71-2.69l-.66-1.03.86-.18c2.96-.63 5.88-.95 8.68-.95 8.3 0 16.36 2.48 23.31 7.18 10.59 7.16 17.23 18.59 18.22 31.34l1.5 11.82-34.04-19.1z"/><path d="m222.37,221.76c-3.21,0-9.12-3.54-19.17-11.47-9.13-7.21-19.75-16.64-27.73-24.62-7.6-7.59-11.63-12.69-13.07-16.52-1.91-5.06.82-7.78,2.13-9.09.97-.97,2.78-2.78,5.8-2.78,1.04,0,2.15.22,3.29.65,3.83,1.44,8.93,5.48,16.52,13.07,7.98,7.97,17.41,18.6,24.62,27.73,13.13,16.62,12.43,19.74,10.3,21.87-.54.55-1.34,1.17-2.69,1.17Zm-52.01-58.63c-.56,0-.92.31-1.69,1.07-1.1,1.1-1.34,1.42-.79,2.88,1.11,2.93,4.94,7.65,11.73,14.44,14.71,14.7,32.95,29.35,40.13,33.29-4.4-6.72-19.04-24.96-33.75-39.67-6.79-6.79-11.51-10.62-14.44-11.73-.51-.19-.89-.29-1.19-.29Z" fill="#fff042"/><path d="m80.37,103.45c-1.33,0-2.5-.9-2.83-2.19-.41-1.57.53-3.17,2.09-3.58,11.07-2.9,19.57-11.45,22.36-22.35.33-1.3,1.5-2.21,2.83-2.21l.74.1c.76.19,1.4.67,1.79,1.34.4.67.51,1.47.32,2.22-3.32,12.96-13.42,23.12-26.36,26.52-.43.11-.68.14-.94.14Z" fill="#71c8e2"/></svg>
            <h1 class="lg:hidden font-bold text-3xl my-8">IN LOG THEY TRUST!</h1>
        </div>
        <div class="overflow-x-auto snap-mandatory scroll-smooth flex gap-[50px] justify-center mx-auto py-8 max-w-7xl">
            <div class="flex items-center justify-evenly bg-white w-[120px] h-[120px] shrink-0">
                <img class="" src="#" alt="Logo client">
            </div>
            <div class="flex items-center justify-evenly bg-white w-[120px] h-[120px] shrink-0">
                <img src="#" alt="Logo client">
            </div>
            <div class="flex items-center justify-evenly bg-white w-[120px] h-[120px] shrink-0">
                <img src="#" alt="Logo client">
            </div>
            <div class="flex items-center justify-evenly bg-white w-[120px] h-[120px] shrink-0">
                <img src="#" alt="Logo client">
            </div>
            <div class="flex items-center justify-evenly bg-white w-[120px] h-[120px] shrink-0">
                <img src="#" alt="Logo client">
            </div>
            <div class="flex items-center justify-evenly bg-white w-[120px] h-[120px] shrink-0">
                <img src="#" alt="Logo client">
            </div>
        </div>
    </section>
    <!-- -->
    <!-- Section 5 - Équipe -->
    <SectionTeam />
    <!-- -->
    <!-- Section 6 - Recrutement -->
    <section class="relative w-full my-20">
        <div class="absolute top-[30rem] lg:top-auto lg:bottom-0 lg:left-[43vw]">
            <img class="h-[36rem] lg:h-[37rem]" src={HommeClavierReference} alt="Homme avec un clavier" />
        </div>
        <div class="flex flex-col lg:flex-row">
            <div class="flex w-full justify-center lg:justify-end items-center bg-black text-white">
                <div class="flex flex-col gap-20 lg:py-24 px-6 pt-12 pb-96 lg:pl-[17vw] lg:pr-[10vw]">
                    <div class="flex flex-row gap-2">
                        <svg class="w-auto h-16 fill-yellow-log" viewBox="0 0 305.98 195.2"><path d="M32.24 106.4V17.49H10.19v109.25h71.72V106.4H32.24zm150.23-54.95c-2.58-6.65-6.3-12.54-11.05-17.51-4.77-4.98-10.61-8.94-17.38-11.78-6.75-2.82-14.37-4.26-22.65-4.26s-15.83 1.41-22.63 4.2c-6.82 2.79-12.75 6.71-17.62 11.65-4.86 4.93-8.68 10.8-11.37 17.45-2.69 6.64-4.05 13.93-4.05 21.67s1.31 14.91 3.88 21.57c2.59 6.7 6.33 12.6 11.12 17.53 4.8 4.94 10.64 8.88 17.35 11.7 6.72 2.83 14.29 4.26 22.51 4.26s15.83-1.43 22.65-4.26c6.81-2.82 12.75-6.75 17.65-11.69 4.89-4.93 8.74-10.82 11.43-17.51 2.68-6.67 4.04-13.94 4.04-21.61s-1.31-14.81-3.88-21.42zm-16.76 21.42c0 4.91-.82 9.63-2.42 14.02-1.6 4.37-3.92 8.26-6.89 11.57-2.95 3.28-6.62 5.92-10.93 7.84-8.5 3.8-20.85 3.91-29.43-.04-4.25-1.96-7.88-4.61-10.8-7.9-2.93-3.3-5.2-7.18-6.74-11.54-1.55-4.41-2.34-9.11-2.34-13.96s.85-9.5 2.51-13.89c1.66-4.37 4.04-8.24 7.07-11.52 3.02-3.27 6.75-5.92 11.08-7.89 4.3-1.95 9.2-2.94 14.56-2.94s10.28 1 14.47 2.97c4.22 1.99 7.85 4.67 10.77 7.96 2.94 3.31 5.2 7.18 6.74 11.5 1.55 4.38 2.34 9.02 2.34 13.8zm108.94-52.64v11.19l-2.02-1.92c-2.81-2.48-5.95-4.61-9.35-6.32-3.39-1.71-7-3.03-10.73-3.92a49.72 49.72 0 0 0-11.52-1.34c-7.71 0-14.85 1.44-21.22 4.29-6.35 2.84-11.87 6.77-16.39 11.69-4.51 4.9-8.05 10.74-10.52 17.34-2.46 6.59-3.71 13.73-3.71 21.24s1.27 15.11 3.76 21.83c2.51 6.74 6.08 12.68 10.62 17.65 4.56 4.99 10.08 8.94 16.41 11.75 9.53 4.23 21.21 5.59 32.64 2.84 3.84-.93 7.54-2.3 11-4.08 3.49-1.8 6.69-4.04 9.53-6.66.52-.48 1.03-.98 1.52-1.49 0 6.93-.56 13.29-1.65 18.9-1.06 5.4-2.86 10.05-5.37 13.81-2.46 3.69-5.67 6.47-9.8 8.49-4.14 2.03-9.52 3.06-15.99 3.06-4.15 0-8.17-.61-11.93-1.81-3.73-1.19-7.07-2.94-9.95-5.18-2.84-2.21-5.17-4.95-6.94-8.16-1.75-3.17-2.79-6.83-3.1-10.86l-.21-2.85h-21.37l.26 3.32c.57 7.24 2.38 13.74 5.38 19.32s6.97 10.31 11.77 14.08c4.78 3.74 10.34 6.59 16.54 8.47 6.12 1.86 12.7 2.8 19.55 2.8 7.63 0 14.82-1.21 21.37-3.61 6.64-2.43 12.47-6.22 17.31-11.27 4.81-5.02 8.61-11.47 11.29-19.16 2.65-7.6 3.99-16.71 3.99-27.06V20.23h-21.14zm.6 51.44c0 5.02-.73 9.89-2.17 14.46-1.42 4.51-3.54 8.53-6.3 11.97-2.72 3.38-6.12 6.12-10.09 8.12-7.74 3.9-19.13 4.04-27.37 0-4.09-2.02-7.62-4.74-10.48-8.09-2.9-3.39-5.16-7.33-6.73-11.71-1.58-4.4-2.38-9.02-2.38-13.74 0-5.13.77-9.96 2.29-14.38 1.5-4.36 3.69-8.19 6.49-11.39 2.78-3.18 6.21-5.71 10.18-7.53 3.96-1.82 8.52-2.74 13.55-2.74s9.53.92 13.56 2.75c4.05 1.82 7.54 4.35 10.39 7.5 2.88 3.18 5.13 6.92 6.69 11.12 1.57 4.23 2.37 8.82 2.37 13.66z"/></svg>
                        <h1 class="font-extrabold text-4xl lg:text-5xl">GEZ-VOUS !</h1>
                    </div>
                    <p class="font-bold text-2xl">Vous avez envie de rejoindre une équipe dynamique, experte et engagée ?</p>
                    <p class="text-yellow-log font-bold text-3xl">Rejoignez la tribu des loggers !</p>
                </div>
            </div>
            <div class="flex w-full bg-gray-log text-black">
                <div class="flex flex-col gap-6 lg:gap-20 px-4 pt-48 pb-8 lg:pl-[7.5vw] lg:pr-[15vw] lg:py-24 z-0">
                    <h1 class="rounded-[12px] bg-yellow-log font-bold text-center text-2xl lg:text-3xl px-6 py-4">Les dernières offres à pourvoir !</h1>
                    <div class="rounded-[12px] bg-white px-8 py-4 my-4">
                        <ul class="font-bold leading-[3rem] lg:leading-[4rem] text-xl lg:text-2xl list-outside list-[square]">
                            {jobEntries.map(jobEntry => (
                                <li>{jobEntry.data.title}</li>
                            ))}
                        </ul>
                    </div>
                    <div class="text-center lg:text-end">
                        <a class="bg-black text-white text-xl lg:text-2xl font-bold rounded-[12px] px-6 py-4" href="#">Découvrir toutes nos offres</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- -->
    <!-- Section 7 - Derniers articles -->
    <SectionArticles />
    <!-- -->
</BaseLayout>
