---
import BaseLayout from "@layouts/BaseLayout.astro";
import Banner from "@components/ui/banner.astro";
import Icon from "@components/ui/icon.astro";
import ListCard from "@components/ui/list_card.astro";
import { BackgroundColor, BorderColor, TextColor } from "@libs/types";

import LoggersBannerReference from "@assets/metiers-1.webp";
---

<BaseLayout title="Notre métier" description="Le métier de LOG">
    <Banner
        title="Notre métier"
        subtitle="Accélérer et sécuriser la transformation des organisations en les guidant dans l'adoption des technologies Cloud et de la philosophie DevOps"
        description="Audits, Stratégie, Roadmap, FinOps ? Conception, Architecture ? Gestion de projets techniques ? Automatisation, CI/CD ? C’est le métier de LOG !"
        bgColor={BackgroundColor.BLUE}
        textColor={TextColor.BLUE}
        image={LoggersBannerReference}
    />
    <section class="relative max-w-7xl mx-auto text-center">
        <h1 class="font-bold text-3xl uppercase">Nos savoir-faire</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-16 px-3">
            <ListCard title="Cloud Strategy" textColor={TextColor.BLUE} borderColor={BorderColor.BLUE}>
                <Icon slot="svg" className="w-auto h-20" name="project" />
                <Fragment slot="list">
                    <li>
                        Évaluation des bénéfices et des risques
                    </li>
                    <li>
                        Identification des Apps et Data à migrer
                    </li>
                    <li>
                        Choix des technologies et des partenaires&nbsp;: Cloud privé / public / hybride
                    </li>
                    <li>
                        Choix des Services&nbsp;: IaaS, PaaS, SaaS
                    </li>
                    <li>
                        Accompagnement au changement&nbsp;: organisation, compétences et formations
                    </li>
                </Fragment>
            </ListCard>
            <ListCard title="Move to cloud" textColor={TextColor.BLUE} borderColor={BorderColor.BLUE}>
                <Icon slot="svg" className="w-auto h-20" name="server" />
                <Fragment slot="list">
                    <li>
                        Cloud Plateform Design&nbsp;: services, architexture, réseau, sécurité, IAM...
                    </li>
                    <li>
                        Cloud Platform Building&nbsp;: sourcing, mise en œuvre des fondations...
                    </li>
                    <li>
                        Migration et déploiement des Apps
                    </li>
                    <li>
                        Cloud Sprint : migration / déploiement accéléré d'une application
                    </li>
                </Fragment>
            </ListCard>
            <ListCard title="Cloud at scale" textColor={TextColor.BLUE} borderColor={BorderColor.BLUE}>
                <Icon slot="svg" className="w-auto h-20" name="cloud" />
                <Fragment slot="list">
                    <li>
                        Développement et accélération des usages : Cloud Factory, usine logicielle...
                    </li>
                    <li>
                        Culture DevOps / SecOps / NetOps
                    </li>
                    <li>
                        Intégration et déploiement continu&nbsp;: pipeline CI/CD...
                    </li>
                    <li>
                        Automatisation et standardisation
                    </li>
                    <li>
                        Conteneurs et orchestration
                    </li>
                </Fragment>
            </ListCard>
        </div>
    </section>
</BaseLayout>