---
import BaseLayout from "@layouts/BaseLayout.astro";
import TitleBanner from "@components/ui/title_banner.astro";

import { getCollection } from "astro:content";
const allBlogEntries = (await getCollection("blog")).sort((a, b) => {
    return b.data.date.getTime() - a.data.date.getTime();
});

interface Props {
    id: string
    frontmatter: any
}
const { id, frontmatter } = Astro.props as Props;
---

<BaseLayout title={frontmatter.title}>
    <TitleBanner title={frontmatter.title} />
    <section class="relative max-w-8xl mx-auto">
        <div class="flex flex-col lg:flex-row items-center lg:items-start gap-20 max-w-8xl px-1">
            <div class="flex flex-col gap-10">
                <p class="text-xl">Publié le {new Date(frontmatter.date).toLocaleDateString('fr-FR')} par <span class="font-bold">{frontmatter.author}</span></p>
                <div class="overflow-hidden rounded-2xl max-w-4xl h-56">
                    <img src={frontmatter.image} alt="" />
                </div>
                <article class="prose prose-neutral prose-h1:text-5xl prose-lg lg:prose-xl md:text-justify max-w-4xl px-3 lg:pr-0">
                    <slot />
                </article>
            </div>
            <div class="flex flex-col gap-6 text-center max-w-md px-3 lg:pl-0">
                <a class="font-bold text-white text-2xl rounded-2xl bg-blue-log px-4 py-2" href="/blog">Voir tous les articles</a>
                <h3 class="text-2xl font-bold mt-6">Derniers articles</h3>
                <ul class="flex flex-col gap-2">
                    {allBlogEntries.filter((entry) => entry.id !== id).slice(0, 3).map((entry) => {
                        return (
                            <li>
                                <a href={`/blog/${entry.slug}`}>
                                    <div class="flex flex-col items-center overflow-hidden border-2 border-blue-log rounded-2xl max-w-sm">
                                        <img src={entry.data.image} alt="" />
                                        <p class="bg-blue-log text-white font-bold text-xl py-2 w-full">{entry.data.title}</p>
                                    </div>
                                </a>
                            </li>
                        )
                    })}
                </ul>
            </div>
        </div>
    </section>
</BaseLayout>